@import "../../app.component.scss";


::ng-deep .mat-button-wrapper {
    display: flex;
    align-items: center;
    
    p {
        margin: 0;
    }
}

::ng-deep .mat-spinner-green circle{
    stroke: $secondary-color;
}