<div class="wp-container mat-elevation-z8">
    <div class="wp-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner class="mat-spinner-green" *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-card class="wp-card" *ngIf="!isLoadingResults">
        <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
            <h2>{{'Log In' | translate}}</h2>
            <mat-form-field class="wp-full-width">
                <label>
                    <input matInput placeholder="{{'Username' | translate}}" formControlName="username"
                        [errorStateMatcher]="matcher">
                </label>
                <mat-error>
                    <span *ngIf="!loginForm.get('username')">{{'Please enter Username' | translate}}</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="wp-full-width">
                <label>
                    <input type="password" matInput placeholder="{{'Password' | translate}}" formControlName="password"
                        [errorStateMatcher]="matcher">
                </label>
                <mat-error>
                    <span *ngIf="!loginForm.get('password') && loginForm.get('password')">{{'Please enter Password' |
                        translate}}</span>
                </mat-error>
            </mat-form-field>
            <div class="button-row" align="center">
                <button type="submit" class="button-login" [disabled]="!loginForm.valid" mat-flat-button
                    color="primary">
                    <mat-icon>check_circle</mat-icon>
                    <p>{{'Login' | translate}}</p>
                </button>
            </div>
        </form>
    </mat-card>
</div>