<div class="container-ticket-list">
    <h3>{{'Listado de tickets' | translate}}</h3>
    <div class="botonera-ticket-list d-flex ">
        <div class="datepicker-input button-row">
            <mat-form-field>
                <mat-label>Seleccionar fecha</mat-label>
                <input matInput [matDatepicker]="datePicker" [formControl]="selectedDateControl"
                    placeholder="Seleccionar fecha" readonly="readonly">
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="search-button button-row">
            <button mat-button type="submit" color="primary" [disabled]="!selectedDateControl.valid" mat-flat-button
                (click)="loadTickets()">
                <mat-icon>search</mat-icon>
                <p id="login-p">{{'Buscar' | translate}}</p>
            </button>
        </div>
    </div>
    <div class="table-ticket-list">
        <div class="loading-container" *ngIf="isLoadingResults">
            <div class="loading-overlay">
                <mat-progress-spinner class="loading-spinner mat-spinner-green"
                    mode="indeterminate"></mat-progress-spinner>
            </div>
        </div>
        <div class="table-empty-ticket-list" *ngIf="dataSource.data.length == 0">
            <p>{{'No hay tickets para la fecha seleccionada' | translate}}</p>
        </div>
        <div>
            <table mat-table class="mat-elevation-z8 ticket-table header-align" [dataSource]="dataSource" #tickettable
                matSort>
                <!-- Encabezados de columna -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                <!-- Filas de datos -->
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="ticketClick(row)"></tr>
                <!-- Columna codigo -->
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-center">Codigo</th>
                    <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
                </ng-container>

                <!-- Columna fechaHora -->
                <ng-container matColumnDef="fechaHora">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-center">Fecha Hora</th>
                    <td mat-cell *matCellDef="let element" class="align-center">{{ element.fechaHora }}</td>
                </ng-container>

                <!-- Columna fechaJornada -->
                <ng-container matColumnDef="fechaJornada">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-center">Fecha Jornada</th>
                    <td mat-cell *matCellDef="let element" class="align-center">{{ element.fechaJornada }}</td>
                </ng-container>

                <!-- Columna idCanalVenta_descripcion -->
                <ng-container matColumnDef="idCanalVenta_descripcion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-center">Canal Venta</th>
                    <td mat-cell *matCellDef="let element">{{ element.idCanalVenta_descripcion.descripcion }}</td>
                </ng-container>

                <!-- Columna totalBruto -->
                <ng-container matColumnDef="totalBruto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-center">Total Bruto</th>
                    <td mat-cell *matCellDef="let element" class="align-right">{{ element.totalBruto |
                        number:'1.2-2'}}€</td>
                </ng-container>


                <!-- Columna totalSinImpuestos -->
                <ng-container matColumnDef="totalSinImpuestos">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-center">Total SI</th>
                    <td mat-cell *matCellDef="let element" class="align-right">{{ element.totalSinImpuestos |
                        number:'1.2-2'}}€</td>
                </ng-container>


                <!-- Columna totalConImpuestos -->
                <ng-container matColumnDef="totalConImpuestos">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-center">Total CI</th>
                    <td mat-cell *matCellDef="let element" class="align-right">{{ element.totalConImpuestos |
                        number:'1.2-2'}}€</td>
                </ng-container>

                <!-- Columna idEstadoDocumento_descripcion -->
                <ng-container matColumnDef="idEstadoDocumento_descripcion" class="align-center">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-center">Estado documento</th>
                    <td mat-cell *matCellDef="let element">{{
                        element.idEstadoDocumento_descripcion.descripcion }}</td>
                </ng-container>


            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="25" showFirstLastButtons></mat-paginator>
        </div>

    </div>

</div>