//Colors
$main-color:#1d2939;
$secondary-color: #1CAF9A;
$secondary-color-hover: #119380;
$grey: #E4E7EA;
$white: #fcfcfc;
$white-hover: #d1d1d1;
$red: #D9534F;
$red-hover: #C9302C;
$blue: #428bca;
$blue-hover: #337AB7;
$blue-dark: #1f5482;
$yellow: #F0AD4E;
$yellow-hover: #EC971F;
