@import "../../../assets/styles/variables";

.item-zone {
    .mat-list-base .mat-list-item .mat-list-item-content {
        padding: 0px !important
    }
}

.card-zone {
    background: $blue;
    color: $white;
}

.card-zone:hover {
    background: $blue-dark;
}

.zona-seleccionada {
    background-color: $blue-dark;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    padding: 0;
}