@import "../../../assets/styles/variables";

.item-zone {
    span {
        padding: 0 !important;
    }
}

.card-zone {
    background: $blue;
    color: $white;
}

.card-zone:hover {
    background: $blue-dark;
}

.zona-seleccionada {
    background-color: $blue-dark;
}

