.item-zone {
    .mat-list-base .mat-list-item .mat-list-item-content {
        padding: 0px !important
    }
}

.card-zone {
    background: #dad6d6;
}

.zona-seleccionada {
    background-color: grey;
}