<div id="main-sales-conatiner">
    <div id="main-sales-conatiner-left-column">
        <categories [categorias]="familias" [filasFamilias]="filasFamilias"></categories>
    </div>
    <div id="main-sales-conatiner-right-column">
        <div id="main-sales-conatiner-right-column-subcategories">
            Subcategories
        </div>
        <div id="main-sales-conatiner-right-column-panel">
            <div id="main-sales-conatiner-right-column-panel-products">
                Products
            </div>
            <div id="main-sales-conatiner-right-column-panel-ticket">
                Ticket
            </div>
        </div>
    </div>
</div>