<div id="main-sales-conatiner">
    <div id="main-sales-conatiner-left-column">
        <categories [categorias]="familias" [filasFamilias]="filasFamilias"
            (categoriaSelecionada)="recibirCategoriaSelecionada($event)"></categories>
    </div>
    <div id="main-sales-conatiner-right-column">
        <div id="main-sales-conatiner-right-column-subcategories">
            <subcategories [subcategorias]="subfamilias" [filasSubfamilias]="filasSubfamilias"
                (subcategoriaSelecionada)="recibirSubategoriaSelecionada($event)" *ngIf="mostrarSubfamilias">
            </subcategories>
        </div>
        <div id="main-sales-conatiner-right-column-panel">
            <div id="main-sales-conatiner-right-column-panel-products">
                <products [productos]="productos" [filasProductos]="filasProductos"
                    [columnasProductos]="columnasProductos"></products>
            </div>
            <div id="main-sales-conatiner-right-column-panel-ticket">
                Ticket
            </div>
        </div>
    </div>
</div>