@import "../../../assets/styles/variables";

::ng-deep .mat-spinner-green circle{
    stroke: $secondary-color;
}


#main-sales-conatiner {
    content: "";
    display: table;
    clear: both;
    width: 100%;

    .wp-loading-shade {
        width: 100vw;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;

        
    }

    #main-sales-conatiner-left-column {
        float: left;
        width: calc(20% - 2px - 0.5rem);
        padding-top: .5rem;
        border-right: 1px solid rgba(0,0,0,.12);
        height: calc(100vh - 76px);
    }

    #main-sales-conatiner-right-column {
        float: right;
        width: 80%;

        #main-sales-conatiner-right-column-subcategories {
            border-bottom: 1px solid rgba(0,0,0,.12);
        }

        #main-sales-conatiner-right-column-panel {
            content: "";
            display: table;
            clear: both;
            width: 100%;
            
            #main-sales-conatiner-right-column-panel-products {
                float: left;
                width: calc(70% - 2px - 0.5rem);
                padding-top: .5rem;
                border-right: 1px solid rgba(0, 0, 0, 0.12);
                padding-right: 0.5rem;
                height: calc(100vh - 76px);
            }

            #main-sales-conatiner-right-column-panel-ticket {
                float: right;
                width: calc(30% - 2px - 1rem);
                height: calc(90vh - 76px);
                padding: 0.5rem 0.5rem 0 0.5rem;
            }
        }
    }
}