<div class="block-items">
    <div *ngFor="let detalle of detalles">
        <ticket-items [detalle]="detalle"></ticket-items>
    </div>
</div>
<div class="block-total">
    <div class="total total-bruto">
        <span>{{'Subtotal' | translate}}</span>
        <span>{{ ticket?.totalBruto | number:'1.2-2' }}{{'€' | translate}}</span>
    </div>
    <div class="total total-descuento">
        <span>{{'Descuento' | translate}}</span>
        <span>{{ ticket?.descuentoTotalConImpuestos | number:'1.2-2' }}{{'€' | translate}}</span>
    </div>
    <div class="total total-neto">
        <span>{{'Total' | translate}}</span>
        <span>{{ ticket?.totalConImpuestos | number:'1.2-2' }}{{'€' | translate}}</span>
    </div>

</div>
<div class="action-buttons">
    X
</div>