@import "../../../assets/styles/variables";

.block-items {
    height: calc(65vh - 64px);
    overflow-y: scroll;
}

.block-total {
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.12);
    background-color: #fcfcfc;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    height: calc(5vh - .5rem);
    min-height: 80px;
    font-size: 1.25rem;
    margin-top: .5rem;

    .total {
        display: grid;
        text-align: center;
        align-self: center;
    }

    .total-neto {
        font-size: 1.35rem;
        font-weight: bold;
    }
}

.action-buttons {
    height: 20vh;
    padding-top: 0.5rem;

    ::ng-deep .mat-grid-tile-content{
        display: grid;
        align-items: flex-start;
        justify-items: center;
        grid-auto-rows: min-content;
    }
    .ticket-button {
        .ticket-button-label {
            font-size: .75rem;
        }

        .button-delete {
            background-color: $red;
        }

        .button-delete:hover {
            background-color: $red-hover;
        }

        .button-warn {
            background-color: $yellow;
        }

        .button-warn:hover {
            background-color: $yellow-hover;
        }

        .button-blue {
            background-color: $blue;
        }

        .button-blue:hover {
            background-color: $blue-hover;
        }

        .button-grey {
            background-color: $grey-dark;
        }
        
        .button-grey:hover {
            background-color: $grey-dark-hover;
        }

        

        
    }
}