<div class="block-items">
    <div *ngFor="let detalle of detalles">
        <ticket-items [detalle]="detalle" [imagenProducto]="findProductImage(detalle.idProducto_nombre.id)"
            (productoModificado)="recibirProductoModificado($event)"></ticket-items>
    </div>
</div>
<div class="block-total">
    <div class="total total-bruto">
        <span>{{'Subtotal' | translate}}</span>
        <span>{{ ticket?.totalBruto | number:'1.2-2' }}{{'€' | translate}}</span>
    </div>
    <div class="total total-descuento">
        <span>{{'Descuento' | translate}}</span>
        <span>{{ ticket?.descuentoTotalConImpuestos | number:'1.2-2' }}{{'€' | translate}}</span>
    </div>
    <div class="total total-neto">
        <span>{{'Total' | translate}}</span>
        <span>{{ ticket?.totalConImpuestos | number:'1.2-2' }}{{'€' | translate}}</span>
    </div>

</div>
<div class="action-buttons">
    <mat-grid-list cols="4" rowHeight="10vh">
        <mat-grid-tile class="ticket-button">
            <button mat-fab class="mat-elevation-z0" color="primary" aria-label="Fin ticket"
                (click)="openPaymentsDialog()">
                <mat-icon>assignment_turned_in</mat-icon>
            </button>
            <div class="ticket-button-label">
                <span>{{'Fin ticket' | translate}}</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="ticket-button">
            <button mat-fab class="mat-elevation-z0 button-warn button-canal-venta" color="primary"
                aria-label="Canal venta">
                {{canalVenta}}
            </button>
            <div class="ticket-button-label">
                <span>{{'Canal venta' | translate}}</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="ticket-button">
            <button mat-fab class="mat-elevation-z0 button-grey" aria-label="Clientes" (click)="openPrintDialog()">
                <mat-icon>perm_identity</mat-icon>
            </button>
            <div class="ticket-button-label">
                <span>{{'Clientes' | translate}}</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="ticket-button">
            <button mat-fab class="mat-elevation-z0 button-blue" color="primary" aria-label="Descuentos">
                <mat-icon>redeem</mat-icon>
            </button>
            <div class="ticket-button-label">
                <span>{{'Descuentos' | translate}}</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="ticket-button">
            <button mat-fab class="mat-elevation-z0 button-delete" color="primary" aria-label="Borrar"
                (click)="cancelarTicket()">
                <mat-icon>delete</mat-icon>
            </button>
            <div class="ticket-button-label">
                <span>{{'Borrar' | translate}}</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="ticket-button">
            <!--<button mat-fab class="mat-elevation-z0" color="primary" aria-label="Abrir cajon">
                <mat-icon>delete</mat-icon>
            </button>
            <div class="ticket-button-label">
                <span>{{'Abrir cajon' | translate}}</span>
            </div>-->
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile class="ticket-button">
            <button mat-fab class="mat-elevation-z0" color="primary" aria-label="Enviar Mesa" (click)="sendTable()">
                <mat-icon>send</mat-icon>
            </button>
            <div class="ticket-button-label">
                <span>{{'Enviar Mesa' | translate}}</span>
            </div>
        </mat-grid-tile>

    </mat-grid-list>
</div>