<div mat-dialog-content class="print-container">
    <p>Print</p>
    <div id="ticket-print-container">
        <div class="ticket-cabecera">
            {{'Num. ticket' | translate}}: {{data.ticket?.codigo}}
            {{'Fecha/Hora' | translate}}: {{data.ticket?.fechaHora}}
        </div>
    </div>
    <div align="center" class="actions-container">
        <button class="button-action" mat-flat-button color="primary" (click)="sendMail()">{{'Enviar e-ticket' |
            translate}}</button>
        <button class="button-action" mat-flat-button color="primary">{{'Imprimir ticket' | translate}}</button>
    </div>
</div>