.diners-title {
    text-align: center;
    border-bottom: 2px solid gray;
    line-height: 3rem;
    font-size: 2rem;
}

.diners-label {
    font-size: 1.5rem;
    padding: 0 0.5rem;
}

.button-qty {
    font-size: 1.5rem;
    font-weight: bold;
}

.button-plus {
    background-color: green;
}

.button-minus {
    background-color: red;
}

.qty {
    max-width: 30px;
    font-size: 1.25rem;
    text-align: center;
    margin: 0 0.5rem;
}

.actions-container {
    margin-top: 2rem;
    padding-bottom: 1rem;

    .button-action {
        margin: 0 2rem;
    }
}