<mat-grid-list cols="1" rowHeight="50px" gutterSize="5px">
    <mat-grid-tile *ngFor="let categoria of categoriasCurrent" (click)="selectCategory(categoria?.id)">
        <mat-card class="card-category"
            [ngClass]="{'categoria-selecionada': categoriaSelecionadaActual == categoria?.id}">
            <mat-card-content class="card-category-content">
                <img class="category-icon" [src]="categoria?.imagen">
                <p>{{categoria.nombre}}</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<div align="center" class="paginator">
    <button mat-stroked-button class="button-action button-minus mat-elevation-z0 button-w50"
        (click)="updatePage(false)"><mat-icon>arrow_back_ios</mat-icon></button>
    <button mat-stroked-button class="button-action button-minus mat-elevation-z0 button-w50"
        (click)="updatePage(true)"><mat-icon>arrow_forward_ios</mat-icon></button>
</div>