<div align="center" class="paginator d-flex">
    <button mat-stroked-button class="button-action button-minus mat-elevation-z0 width-20"
        (click)="updatePage(false)"><mat-icon>arrow_back_ios</mat-icon></button>
    <div class="width-60">
        <div class="botonera-title d-flex">
            <p>{{gruposCurrent[0].idProducto_nombre.descripcion}}</p>
            <button mat-mini-fab class="mat-elevation-z0 button-qty button-minus" (click)="minusQty()">-</button>
            <p>{{qty}}</p>
            <button mat-mini-fab class="mat-elevation-z0 button-qty button-plus" (click)="plusQty()">+</button>
        </div>
    </div>
    <button mat-stroked-button class="button-action button-minus mat-elevation-z0 width-20"
        (click)="updatePage(true)"><mat-icon>arrow_forward_ios</mat-icon></button>
</div>
<div class="container-grupos">
    <div class="grupos-mostrar d-flex">
        <associated-products-group *ngFor="let grupo of gruposCurrent" [grupo]="grupo"
            (productoModificado)="recibirSeleccionModificada($event)"></associated-products-group>
    </div>

</div>
<div align="center" class="actions-container">
    <button mat-fab class="button-action button-minus" (click)="onNoClick()"><mat-icon>close</mat-icon></button>
    <button mat-fab class="button-action button-plus" (click)="finishSelection()" [disabled]="!permitirEnviar"
        cdkFocusInitial><mat-icon>check</mat-icon></button>
</div>