@import "../../app.component.scss";

.paginator {
    margin-bottom: 1rem;

    .botonera-title {
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 1.25rem;

        p {
            margin: 0 1rem;
        }

        .button-minus {
            background-color: $red;
        }

        .button-plus {
            background-color: $secondary-color;
        }
    }
}

.container-grupos {
    margin-bottom: 2rem;

    associated-products-group {
        width: 24.25%;
        display: flex;
        align-items: stretch;
    }

    associated-products-group:nth-child(1), associated-products-group:nth-child(2), associated-products-group:nth-child(3) {
        margin-right: 1%;
    }
}

.actions-container {
    .button-minus{
        background-color: $red;
        margin-right: 2rem;
    }

    .button-plus{
        background-color: $secondary-color;
        margin-left: 2rem;
    }
}