<div mat-dialog-content class="payment-container">
    <div class="left-column">
        <div class="payment-total">
            Total
        </div>
        <div class="payment-methods">
            X
        </div>
    </div>
    <div class="right-column">
        <div class="grid-container">
            <div class="button-number">
                <button mat-fab class="mat-elevation-z0 button-grey" aria-label="Clientes">
                    7
                </button>
            </div>
            <div class="button-number">
                <button mat-fab class="mat-elevation-z0 button-grey" aria-label="Clientes">
                    8
                </button>
            </div>
            <div class="button-number">
                <button mat-fab class="mat-elevation-z0 button-grey" aria-label="Clientes">
                    9
                </button>
            </div>
            <div class="button-number">
                <button mat-fab class="mat-elevation-z0 button-grey" aria-label="Clientes">
                    4
                </button>
            </div>
            <div class="button-number">
                <button mat-fab class="mat-elevation-z0 button-grey" aria-label="Clientes">
                    5
                </button>
            </div>
            <div class="button-number">
                <button mat-fab class="mat-elevation-z0 button-grey" aria-label="Clientes">
                    6
                </button>
            </div>
            <div class="button-number">
                <button mat-fab class="mat-elevation-z0 button-grey" aria-label="Clientes">
                    1
                </button>
            </div>
            <div class="button-number">
                <button mat-fab class="mat-elevation-z0 button-grey" aria-label="Clientes">
                    2
                </button>
            </div>
            <div class="button-number">
                <button mat-fab class="mat-elevation-z0 button-grey" aria-label="Clientes">
                    3
                </button>
            </div>
            <div class="button-number">
                <button mat-fab class="mat-elevation-z0 button-grey" aria-label="Clientes">
                    ,
                </button>
            </div>
            <div class="button-number">
                <button mat-fab class="mat-elevation-z0 button-grey" aria-label="Clientes">
                    0
                </button>
            </div>
            <div class="button-number">
                <button mat-fab class="mat-elevation-z0 button-grey" aria-label="Clientes">
                    C
                </button>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions align="center" class="actions-container">
</div>