@import "../../../assets/styles/variables";

.payment-container {
    width: 50vw;
    display: flex;

    .left-column {
        width: 60%;
        
        .payment-total, .total-pagado, .cambio {
            display: flex;
            justify-content: space-between;
            height: auto;
            padding: 0.5rem;
            margin-bottom: 0.5rem;
            font-size: 1.25rem;
            align-items: center;

            .qty-total {
                font-size: 1.5rem;
                font-weight: bold;
            }
        }

        .payment-total-box {
            width: 90%;
            background-color: #fcfcfc;
            transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
            border-radius: 4px;
            box-sizing: border-box;
            border: 1px solid rgba(0, 0, 0, 0.12);
        }

        .payment-methods{
            width: 95%;

            .payment-method {
                display: flex;
                align-items: center;

                .select-FP {
                    width: 75%;
                    margin-right: 10px;
                }

                .input-qty {
                    width: 15%;
                    text-align: end;
                }

                .input-025 {
                    padding: .25rem;
                }

                .button-plus {
                    font-size: 1.25rem;
                }
            }
        }

        .payment-totals {
            width: 90%;
            margin-top: 1rem;

        }

        .text-green {
            color: $secondary-color;
        }

        .text-red {
            color: $red;
        }
    }

    .right-column {
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;

            .button-number {
                button {
                    font-size: 1.5rem;
                }
            }

            .button-grey {
                background-color: $grey-dark;
            }
            
            .button-grey:hover {
                background-color: $grey-dark-hover;
            }
        }

        .actions-container {
            margin-top: 2rem;
            padding-bottom: 1rem;
        
            .button-action {
                margin: 0 2rem;
            }

            .button-plus {
                background-color: $secondary-color;
            }
            
            .button-minus {
                background-color: $red;
            }
            
            .button-plus:hover {
                background-color: $secondary-color-hover;
            }
            
            .button-minus:hover {
                background-color: $red-hover;
            }
        }
    }
}