.wp-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.wp-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.wp-full-width {
    width: 100%;
}
  
.wp-full-width:nth-last-child(0) {
    margin-bottom: 10px;
}
  
.button-row {
    margin: 10px 0;
    mat-icon {
      margin-right: 10px;
    }
}
  
.mat-flat-button {
    width: 120px;
    margin: 5px;
}

.example-spacer {
    flex: 1 1 auto;
}