@import "../assets/styles/variables";

.sidenav-content {
    background-color: $grey;
}

.sidenav-container {
    background-color: $grey;
}

.mat-toolbar.mat-primary {
    background: $main-color;
    color: $white;
}

.mat-input-element {
    caret-color: $main-color;
}

.mat-form-field.mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element {
    caret-color: $red;
}

.wp-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.wp-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.wp-full-width {
    width: 100%;
}
  
.wp-full-width:nth-last-child(0) {
    margin-bottom: 10px;
}
  
.button-row {
    margin: 10px 0;
    mat-icon {
      margin-right: 10px;
    }
}
  
.mat-flat-button {
    width: 120px;
    margin: 5px;
}

.spacer {
    flex: 1 1 auto;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 5vw;

    .button-qty {
        margin: 0 .5rem;
    }

    .button-minus {
        margin-left: 2rem;
        background-color: $red;
    }

    .button-plus {
        background-color: $secondary-color;
    }

    .mat-mini-fab .mat-button-wrapper {
        font-size: 1.5rem;
    }
}

.d-flex {
    display: flex;
}

.width-10 {
    width: 10%;
}

.width-20 {
    width: 20%;
}

.width-25 {
    width: 20%;
}

.width-33 {
    width: 33%;
}

.width-45 {
    width: 45%;
}

.width-40 {
    width: 40%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-75 {
    width: 75%;
}

.width-80 {
    width: 80%;
}

.d-flex {
    display: flex;
}

.t-algin-end {
    text-align: end;
}