<div class="container">
  <mat-sidenav-container fullscreen [hasBackdrop]="mobileQuery.matches">
    <mat-sidenav #lnav mode="push" class="sidenav">
      <div class="content">
        <mat-list>
          <mat-list-item *ngFor="let route of nav">
            <i class="fa {{route.icon}}"></i>
            <a mat-button routerLink="{{route.path}}" routerLinkActive="active"
              (click)="toggleMobileNav(lnav)">{{route.title}}</a>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <mat-toolbar class="toolbar" color="primary" [class.app-is-mobile]="mobileQuery.matches">
        <button mat-icon-button (click)="lnav.toggle()" aria-label="Menu">
          <mat-icon>menu</mat-icon>
        </button>
        {{title}}
        <div class="fill-space"></div>
        <span whoami></span>
      </mat-toolbar>
      <mat-drawer-container class="sidenav-container">
        <mat-drawer mode="push">
          <div class="content">
            <mat-list>
              <mat-list-item *ngFor="let route of nav">
                <i class="fa {{route.icon}}"></i>
                <a mat-button routerLink="{{route.path}}" routerLinkActive="active"
                  (click)="toggleMobileNav(lnav)">{{route.title}}</a>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-drawer>
        <mat-drawer-content>
          <div class="content">
            <router-outlet></router-outlet>
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>